<h2>Order Pizza</h2>

<form action="/pizza" method="post">

<label>First Name:</label>
<input type="text" name="first_name">
<label>Last Name:</label>
<input type="text" name="last_name">

<select name="topping">
  <option value="Margherita">Margherita</option>
  <option value="Calzone">Calzone</option>
  <option value="Peperoni">Peperoni</option>
  <option value="Ham">Ham</option>
  <option value="Chicken">Chicken</option>
</select>

<label>Quantity :</label>
<input type="number" name="quantity">

<input type="submit" value="Order Pizza">


</form>